# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*
*.log*
*.db*
.storage/*


# misc
.coverage
.vscode
coverage.xml
pyalko
NOTES.md


# Home Assistant configuration
blueprints/*
config/*
!config/configuration.yaml